.page-nav {
  padding: 38px 0;
}

.site-logo {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  line-height: 32px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  color: #555252;
}
.site-logo::first-letter {
  color: #1abc9c;
  font-weight: 900;
}

.site-navigation {
  float: right;
  width: 467px;
  margin: 0;
  margin-top: 8px;
  padding: 0;
  font-size: 14px;
  list-style: none;
}

.site-navigation li {
  float: left;
}

.site-navigation li:not(:last-child) {
  margin-right: 30px;
}

.site-navigation a {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 11px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #0f0101;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #1abc9c;
}
