@import "navigation.css" screen;
@import "main.css" screen;
@import "footer.css" screen;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  /* outline: 1px solid red; */
}
/* font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif; */
/* body {
  font-family: "Playfair Display", "Times New Roman", serif;
  font-weight: 400;
  color: #626262;
  font-size: 14px;
  line-height: 24px;
} */

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}
