.slider {
  position: relative;
  width: auto;
  height: auto;
  margin: auto;
}

.slider-content {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  line-height: 54px;
  font-weight: 300;
  color: #ffffff;
  margin: 0;
}
h2::first-line {
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  line-height: 82px;
  font-weight: 900;
  text-transform: uppercase;
}

.slider-ctrl {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  display: inline-block;
  width: 104px;
  height: 104px;
  opacity: 0.65;
  background-color: #4ec6ab;
  font-weight: 700;
  cursor: pointer;
  z-index: 1;
  content: "";
  background-size: contain;
  background-position: center;
}

.slides-image {
  filter: brightness(52%);
}

.arrow {
  display: inline;
}
.slider-ctrl-prev {
  left: 0;
}

.slider-ctrl-next {
  right: 0;
}

.slides {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slides-item {
  position: relative;
}
