.footer {
  bottom: 0px;
  margin: 0 auto;
  background-image: url(../img/Background.png);
}
.form-wr {
  margin: 0 auto;
  width: 500px;
  height: 420px;
  text-align: center;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.signup-form {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.signup-form textarea {
  resize: none;
  width: 100%;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.list li {
  display: flex;
  align-items: center;
}
.list li:not(:last-child) {
  margin-bottom: 20px;
}

.regist input {
  color: #212121;
  flex-grow: 1;
  border: none;
  padding: 20px;
  border: 1px solid #616161;
}

.regist input::placeholder {
  margin-right: 10px;
}
/*
  =======================================================
  --------------------------BUTTON-----------------------
  =======================================================
   */

.button {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: #616161;
  cursor: pointer;
  color: #ffffff;
  text-transform: uppercase;
  padding: 8px 16px;
  margin: 15px 4px;
  border-radius: 2px;
  transition: 1s;
}

.button:hover {
  background: #fed136;
  transition: 1s;
  transform: scale(1.3);
}
