/* -----------Exercise 1----------- */

html {
  display: inline-block;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Raleway", "Arial", sans-serif;
  color: #6c7279;
  font-size: 14px;
  line-height: 21px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.page-nav {
  padding: 38px 0;
}

.site-navigation {
  float: right;
  width: 467px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  list-style: none;
}

.site-navigation li {
  float: left;
}

.site-navigation li:not(:last-child) {
  margin-right: 30px;
}

.site-navigation a {
  display: block;
  line-height: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #0f0101;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #1abc9c;
}
