.features {
  margin-bottom: 56px;
}

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
  /* font-size: 0; зникає текст */
}

.features-list-item {
  display: inline-block;
  width: 420px;
  margin-right: 60px;
  margin-bottom: 72px;
}

.features-list-item:nth-child(2n) {
  margin-right: 0;
}
.features-list-item:nth-last-child(-n + 2) {
  margin-bottom: 0;
}

.menu-list-name {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Ubuntu", sans-serif;
  color: #b4ad9e;
  text-transform: uppercase;
  line-height: 16.8px;
}

.features-list-item h3 {
  line-height: 36px;
  margin-bottom: 35px;
  font-size: 30px;
}
